body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#0c0f2c;
}

.login-container{
  height:100vh;
  width: 100%;
  background:#0c0f2c;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding:24px;
}

.title{
  font-size:32px;
  margin-bottom:40px;
}



.input-group{
  margin-bottom:25px;
}

label{
  font-size:14px;
  color:#aaa;
}

input{
  width:100%;
  padding:10px 0;
  margin-top:8px;
  border:none;
  border-bottom:1px solid #444;
  background:transparent;
  color:white;
  outline:none;
}

.login-button{
  margin-top:30px;
  padding:15px;
  border:none;
  border-radius:10px;
  background:#1f6feb;
  color:white;
  font-size:16px;
  cursor:pointer;
}

.login-button:hover{
  background:#1557c0;
}

.signup-text{
  margin-top:20px;
  font-size:14px;
  color:#aaa;
   text-align:center;
}

.signup-text span{
  color:#3b82f6;
  cursor:pointer;
}